
.box {

    
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 0.5s ease-in-out;

    width:100px;
    height:100px;
    background:blue;
    

}


.box:hover {
   
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);

}

  @-webkit-keyframes spinner {
    from { -webkit-transform: rotate(0deg);    }
    to   { -webkit-transform: rotate(360deg); }
  }

  #box2 {
      margin-top:10px;
      background:black;
      height:100px;
      width:100px;


      animation-name: spinner;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 1.6s;

  }
}