.box1{
    background:teal;
    padding: 5% 10% 3% 100px;
}
.box2{
    background:deeppink;
    margin:50px auto;
    border-style: solid;
    border-color: black;
    border: 50px dotted blue; 
    width: 500px;
}
.box3{
    background:lime;
    margin:25px;
    padding:25px;
}